<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.windowshopperclean">

    <application
        android:name=".WindowShopperApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WindowShopperCLEAN">

        <activity android:name="com.example.windowshopperclean.features.account.presentation.AccountActivity"/>

        <activity android:name="com.example.windowshopperclean.features.cart.presentation.CartActivity"/>

        <activity android:name="com.example.windowshopperclean.features.login.presentation.LoginActivity"/>

        <activity android:exported="true" android:name="com.example.windowshopperclean.features.shop.presentation.ShopActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>